# Ignore everything on scratch by default, except the provided examples
/*
!.gitignore

!nested-subdir/
!subdir/
!scratch-simulator.cc
!CMakeLists.txt
!adr-baseline/
!adr-example-no_modif/
!complete-network/
!dataset-gen/
!dataset_ml/
!dataset_netanim/
!simulasi/
